
{% load static  %}
<!-- ##### Footer Area Start ##### -->
    <footer class="footer-area" style="background-color: #222222;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Social Info -->
                    <div class=" text-right">
                        <h2>Simples e poderosa</h2>
                        <p>Bem vindo ao mais novo e </br> poderoso markteplace de graficas</p>
                    </div>
                    <!-- Footer Logo -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->